<!-- Employee View shows all wholesaler applications -->
<% if current_employee  %> 
<div class="container">
<h3 class="center">Wholesaler Applications</h3>
<table class="striped centered responsive-table">
  <thead>
    <tr>
      <th>Business Name</th>
      <th>Contact Name</th>
      <th>Created</th>
      <th>Application Status</th>
    </tr>
  </thead>
  <tbody>
    <% @apps.each do |app| %>
      <tr>
        <td><%= app.business_name %> </td>
        <td><%= app.contact_name %> </td>
        <td><%= app.created_at.strftime('%b %e %Y') %> </td>
        <td><%= app.is_approved ? "Approved" : app.is_rejected ? "Rejected" : "Pending" %></td>
        <td>
          <a class='btn' href="/wholesalers/<%=app.id%>">View</a>
        </td>
      </tr>
    <% end %>
  </tbody>  
</table>
</div>
<!-- Customer View  -->
<% elsif current_customer %>
  <!-- If already wholesaler  -->
    <% if current_customer &. wholesaler %>
    <h1 class="center lobster-font gray"> You are on your way to becoming a Wholesaler! </h1>
      <p class="center"> Click to see your <a href="/wholesalers/<%=current_customer.wholesaler.id%>"> Application</a></p>
    <!-- If NOT a wholesaler -->
    <% else %>
      <h2 class="center lobster-font gray">Interested in Becoming a Wholesaler?</h2>
      <p class="center"> Click here to apply! <a href="/wholesalers/new"> Application</a></p>
    <% end %>
<!-- Not Signed In -->
  <div id="resize"><%=image_tag("Wholesale_Packet.png", alt: "Unsplashed background img 1")%></div>
<% else %>
  <h1 class="center lobster-font gray"> About Becoming a Wholesaler </h1>
  <hr>
  <h3 class="center lobster-font gray"> Please <a href="/customers/sign_up">sign-up </a>or <a href="/customers/sign_in"> login </a>to access wholesaler application </h3>
  <div id="resize"><%=image_tag("Wholesale_Packet.png", alt: "Unsplashed background img 1")%></div>
<% end %>
