<body class="botybgblue">
  <div class="container">
    <div class="wholesaler-bg">
<h1 class="lobster-font botytanletter center">Your Wholesaler Application!</h1>

<p class="botytanletter apppad">Business Name: <%= @wholesaler.business_name %></p>
<p class="botytanletter apppad"> Contact Name: <%= @wholesaler.contact_name %></p>
<p class="botytanletter apppad"><%= @wholesaler.work_phone %></p>
<p class="botytanletter apppad"><%= @wholesaler.billing_address %></p>
<p class="botytanletter apppad"><%= @wholesaler.billing_city %></p>
<p class="botytanletter apppad"><%= @wholesaler.billing_state %></p>
<p class="botytanletter apppad"><%= @wholesaler.billing_zip_code %></p>
<p class="botytanletter apppad"><%= @wholesaler.shipping_address %></p>
<p class="botytanletter apppad"><%= @wholesaler.shipping_city %></p>
<p class="botytanletter apppad"><%= @wholesaler.shipping_state %></p>
<p class="botytanletter apppad"><%= @wholesaler.shipping_zip_code %></p>
<p class="botytanletter apppad"><%= @wholesaler.website %></p>
<p class="botytanletter apppad"><%= @wholesaler.accounts_payable_contact_name %></p>
<p class="botytanletter apppad"><%= @wholesaler.accounts_payable_contact_email %></p>
<p class="botytanletter apppad"><%= @wholesaler.accounts_payable_contact_phone %></p>
<p class="botytanletter apppad"><%= @wholesaler.retailer %></p>
<p class="botytanletter apppad"><%= @wholesaler.tax_exempt %></p>
<p class="botytanletter apppad"><%= @wholesaler.delivery_instructions %></p>
<p class="botytanletter apppad"><%= @wholesaler.recieving_hours %></p>
<p class="botytanletter apppad"><%= @wholesaler.days_closed %></p>
</div>
</div>
</body>





