<body id="botysbackground">
  <div class="container">
    <h2 class="center lobster-font underline">My Account</h2>
    <div class="row center">
      <div class="col center l12 s12 m12 boty-box">
        <div class="Title">Shipping Information</div>
        <div class="left-align">
          <p>Name: <%= current_customer.first_name %> <%= current_customer.last_name %></p>
          <p>Email: <%= current_customer.email %></p>
          <p>Address: <%= current_customer.address %></p>
          <p><%= current_customer.address2 %></p>
          <p>City: <%= current_customer.city %></p>
          <p>State: <%= current_customer.state %></p>
          <p>Zip: <%= current_customer.zip_code %></p>
          <%= link_to "Edit Shipping Address", "/customers/#{@customer.id}/edit", class: "waves-effect waves-light btn center" %>
        </div>
      </div>
      <div class="col l12 s12 m12 center boty-box">
        <div class="Title">Coffee Club Plan(s)</div>

        <% if @customer.current_subscription.status == 'active' %>
          <p class="center pangolin-font">
            You have a
            <%=
              case @customer.current_subscription.plan
              when 'w'
                'weekly'
              when 'b'
                'bi-weekly'
              when 'm'
                'monthly'
              end
            %>
            subscription to:
          </p>
          <table class="bordered">
            <% @subscription_items.each do |item| %>
              <tr>
                <td><%= item['description'] %></td>
                <td><%= item['quantity'] %></td>
              </tr>
            <% end %>
          </table>
          <%= link_to(
            'Cancel Subscription',
            carted_subscription_path(@customer.current_subscription),
            method: :delete
          ) %>
        <% else %>
          <div class="left-align">
            <p>You are not currently subscribed to any coffee<br>
            <a href="/products">Subscribe to some products!</a></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
