<body class="botysbackground">
  <div class="container">
    <div class="row center">
      <!-- Shipping -->
      <div class="col l12 s12 m12 center boty-box">
        <h5 class="LobsterCenter">1. Shipping Information</h5>
        <% if @stripe_order.present? %>
          <div><%= @stripe_order.shipping.name %></div>
          <div><%= @stripe_order.shipping.address.line1 %></div>
          <div><%= "#{@stripe_order.shipping.address.city} #{@stripe_order.shipping.address.state} #{@stripe_order.shipping.address.postal_code}" %> </div>
        <% end %>
      </div>
      <!-- Shipping-->
      <div class="col l12 s12 m12 center boty-box">
        <h5 class="LobsterCenter">2. Choose your delivery option:</h5>
        <% if @stripe_order.present? %>
        <form action="" >
          <% @stripe_order.shipping_methods.each do |option| %>
            <input type="checkbox" name="<%= option.description %>"value="<%= option.id %>">
            <label>
               <%= option.delivery_estimate[:date] %> <%= number_to_currency(option.amount * 0.01) %> - <%= option.description %>
              </label>
          <% end %>
          <input class="btn" type="submit" value="Choose this shipping method">
        </form>
        <% end %>
      </div>
      <!-- Items-->
      <div class="col l12 s12 m12 center boty-box">
        <h5 class="LobsterCenter">3. Items</h5>
        <table class="bordered">
            <thead>
              <tr>
                <th>Description</th>
                <th>Quantity</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <% if @stripe_order.present? %>
                <% @stripe_order.items.select{|item| item.type == "sku"}.each do |item| %>
                  <% if item.amount > 0 %>
                    <tr>
                      <td><%= item.description %></td>
                      <td><%= item.quantity %></td>
                      <td> <%= number_to_currency(item.amount * 0.01)%></td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
              <% @carted_subscriptions.each do |item| %>
                <tr>
                  <td><%= item.plan_name %></td>
                  <td><%= item.quantity %></td>
                  <td> <%= number_to_currency(item.amount * 0.01)%></td>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
      <!-- Order Summary-->
      <div class="col l12 s12 m12 center boty-box">
        <h5 class="LobsterCenter">4.Order Summary</h5>
        <table class="bordered">
          <thead>
            <tr>
              <th>Description</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Items(<%= @total_quantity %>)</td>
              <td><%= number_to_currency(@total) %></td>
            </tr>
            <tr>
              <% if @stripe_order.present? %>
                <% @stripe_order.items.each do |item| %>
                  <% if item.type != "sku" %>
                    <td><%= item.type %></td>
                    <td> <%= number_to_currency(item.amount * 0.01)%></td>
                  <% end %>
              </tr>
                <% end %>
              <% end %>
            <tfoot>
              <td> Total </td>
              <td> <%= number_to_currency(@total) %></td>
            </tfoot>
          </tbody>
        </table>
      </div>
    </div>

    <!-- STRIPE CHECKOUT FORM -->
    <%= form_tag charges_path do %>
    <%= hidden_field_tag :order_id, @stripe_order&.id %>
      <article>
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
      </article>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Back of the Yards Coffee"
              data-email="<%= current_customer.email if customer_signed_in? %>"
              data-locale="auto"
              data-label="Complete Order"
              data-shipping-address="false">
      </script>
    <% end %>
  </div>
</body>
