<body class="orders new" id="botysbackground">
  <div class="container">
    <div class="row center">
      <!-- Shipping -->
      <div class="col l12 s12 m12 center boty-box">
        <h5 class="LobsterCenter">1. Shipping Information</h5>
        <% if @stripe_order.present? %>
          <div><%= @stripe_order.shipping.name %></div>
          <div><%= @stripe_order.shipping.address.line1 %></div>
          <div><%= "#{@stripe_order.shipping.address.city} #{@stripe_order.shipping.address.state} #{@stripe_order.shipping.address.postal_code}" %> </div>
        <% end %>
      </div>
      <!-- Shipping-->
      <div class="col l12 s12 m12 center boty-box">
        <h5 class="LobsterCenter">2. Choose your delivery option:</h5>
          <% @stripe_order.shipping_methods.each do |option| %>
            <input type="radio" name="grp1" id="<%= option.id %>" class="radio_buttons">
            <label for="<%=option.id%>">
              <%= number_to_currency(option.amount * 0.01) %> - <%= option.description %>
            </label>
          <% end %>
      </div>
      <!-- Items-->
      <div id="steps-3-4"></div>
      <p class='loading'>Loading...</p>
      <div class="orderCheckout" style="display:none">
      <!-- STRIPE CHECKOUT FORM -->
      <%= form_tag charges_path do %>
        <%= hidden_field_tag :order_id, @stripe_order&.id %>
        <article>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
        </article>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Back of the Yards Coffee"
                data-email="<%= current_customer.email if customer_signed_in? %>"
                data-locale="auto"
                data-label="Complete Order"
                data-shipping-address="false">
        </script>
      <% end %>
    </div>
  </div>
  </div>
</body>
