<body id="botysbackground">
<div class="container row" >
  <h1>
    Thank you for your Order!
  </h1>
    <div>
      <p> 
          You will receive an email confirmation shortly at <%= @stripe_order.email %> 
      </p>
      <h3>
          Order number is: <%= @order.id %>
      </h3>  
    </div>
    <div> Shipping:
      <p><%= @stripe_order.shipping.address.line1 %></p>
      <p><%= @stripe_order.shipping.address.city %> <%= @stripe_order.shipping.address.state %> <%= @stripe_order.shipping.address.postal_code %></p> 
    </div>
    <div>
      <h5>Items</h5>
        <table class="bordered">
        <thead>
          <tr>
              <th>Description</th>
              <th>Quantity</th>
              <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <% @stripe_order.items.each do |item| %>
          <tr>
            <% if item.amount > 0 %>
            <td><%= item.description %></td>
            <td><%= item.quantity %></td>
            <td> <%= number_to_currency(item.amount * 0.01)%></td>
          </tr>
            <% end %>
          <% end %>
          <tfoot>
            <td> Total </td>
            <!-- Parse items && count the quantities -->
            <td> <%= @stripe_order.items.select{|item| item.type == "sku"}.map{|item| item.quantity}.sum  %></td>
            <td> <%= number_to_currency(@stripe_order.amount * 0.01) %></td>
          </tfoot>
        </tbody>
      </table>
    </div>
    <a href="/products" class="waves-effect waves-light btn-large col s12 m12 l3">Continue Shopping
    </a>
    <a href="/customers/dashboard" class="waves-effect waves-light btn-large col s12 m12 l3">My Account
    </a>
 </div>
</body>