<h2>Thanks for your purchase!</h2>
<h4>Order Summary</h4>
<table style="width:50%">
  <tr>
    <td>Order number:</td>
    <td><%= @order.id %></td>
  </tr>
  <tr>
    <td>Order date:</td>
    <td><%= @order.created_at %></td>
  </tr>
</table>
<hr>
<table style="width:100%">
  <tr>
    <th>Product</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
  <% @stripe_order.items.each do |item| %>
    <tr style="border:1px">
      <% if item.type == 'sku' %>
          <td><%= item.description %></td>
          <td><%= item.amount/item.quantity * 0.01 %></td>
          <td><%= item.quantity %></td>
          <td><%= item.amount * 0.01 %></td>
      <% else %>
        <td style="text-align:right" colspan="3"><%= item.type.capitalize %></td>
        <td><%= item.amount * 0.01 %></td>
      <% end %>
    </tr>
  <% end %>
</table>