<div class="container row" >
<h3>Thank you for your purchase!</h2>
  <hr>
  <h5>Purchase Summary</h5>
  <div >
    <dl>
      <dt>Customer Email: </dt>
      <dd><%= @stripe_order.email %></dd>
      <dt>Order number:</dt>
      <dd><%= @order.id %></dd>
      <dt>Order date:</dt>
      <dd><%= @order.created_at %></dd>
      <dd></dd>
    </dl>
  </div>
      <h5>Items</h5>
        <table class="bordered">
        <thead>
          <tr>
              <th>Description</th>
              <th>Quantity</th>
              <th>Total</th>
          </tr>
        </thead>

        <tbody>
          <% @stripe_order.items.each do |item| %>
          <tr>
            <% if item.amount > 0 %>
            <td><%= item.description %></td>
            <td><%= item.quantity %></td>
            <td> <%= number_to_currency(item.amount * 0.01)%></td>
          </tr>
            <% end %>
          <% end %>
          <tfoot>
            <td> Total </td>
            <!-- Parse items && count the quantities -->
            <td> <%= @stripe_order.items.select{|item| item.type == "sku"}.map{|item| item.quantity}.sum  %></td>
            <td> <%= number_to_currency(@stripe_order.amount * 0.01) %></td>
          </tfoot>
        </tbody>
      </table>
 </div>