<body id="botysbackground" class="wwa">
<a href="/editables/1/edit"> edit pictures</a>
  <div class="section">
    <div class="row">
      <div class="col s12 m12 l7 xl7">
        <span class="flow-text">
          <h3 class="lobster-font botyblueletter"><%=phrase('Our Origin')%></h3>
          <p class="fontwwa"><%=phrase( @editables.about_me_sec_1)%></p>
        </span>
      </div>
      <%=image_tag(@editables.about_me_pic_1,class:" col s12 m10 l5 xl5")%>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <%=image_tag(@editables.about_me_pic_2,class:"col s10 m10 l5 xl5")%>
      <div class="col s12 m12 l7 xl7">
        <span class="flow-text">
          <h3 class="lobster-font botyblueletter"><%=phrase('Our Coffee')%></h3>
          <p class="fontwwa"><%=phrase(@editables.about_me_sec_2)%></p>
        </span>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <div class="col s12 m12 l7 xl7">
        <span class="flow-text">
          <h3 class="lobster-font botyblueletter"><%=phrase('Our Mission')%></h3>
          <p class="fontwwa"><%=phrase(@editables.about_me_sec_3)%></p>
        </span>
      </div>
      <%=image_tag(@editables.about_me_pic_3,class:"col s12 m10 l5 xl5")%>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <%=image_tag(@editables.about_me_pic_4,class:"col s10 m10 l5 xl5")%>
      <div class="col s12 m12 l7 xl7">
        <span class="flow-text">
          <h3 class="lobster-font botyblueletter"><%=phrase('Our People')%></h3>
          <p class="fontwwa"><%=phrase(@editables.about_me_sec_4)%></p>
        </span>
      </div>
    </div>
  </div>
</body>
