<body id="botysbackground">
  <h2 class="center lobster-font botyredletter">Menu</h2>
  <img id="center_star" class="star" src="https://static1.squarespace.com/static/5616c8cde4b0bbc1cabb7c79/562ff5bee4b09cb454d6fc75/563ec3d3e4b03043c9b69693/1446953940037/chicago-star-transparent.png">
  <br>
  <div class="container" id="menu_items">
    <% @categories.each do |cat| %>
      <h4 class="lobster-font gray">
        <%= cat.name %>
        <%if current_employee%>
          <a class="btn-floating" href="/categories/<%=cat.id%>/edit">
            <i class="material-icons">edit</i>
          </a>
        <%end%>
      </h4>

      <% cat.products.each do |product| %>
        <div class="row">
          <blockquote>
            <h5 class="col s10">
              <b class="title"><%= product.name %></b>
              <% if current_employee %>
                <a class="btn-small" href="/menus/<%=product.id%>/edit">
                  <i class="material-icons">edit</i>
                </a>
              <%end%>
            </h5>
            <h5 class="col s2">
              <b class="title"><%= number_to_currency(product.price.to_f)%> </b>
            </h5>
            <p class="col s6 ">
              <%= product.description%>
            </p>
          </blockquote>
        </div>
      <% end %>
    <% end %>

    <% if current_employee %>
      <a class="btn" href="/menus/new">Create new menu item</a>
      <a class="btn" href="/categories/new">Create new category</a>
    <%end%>
  </div>
</body>
