<!-- Video -->
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center text-lighten-2 title"><span class="caps">B</span>ACK OF THE <span class="caps">Y</span>ARDS
        <br>
        <span class="lobster-font">Coffee Co.</span></h1>
        <div class="row center">
          <h5 class="header col s12 light">resilient and robust</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%=image_tag("coffeepic2.jpg", alt: "Unsplashed background img 1")%></div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Featured Products</h4>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->

      <div class = "row">

        <%@products.each do |product|%>
        <div class ="col s12 m4">
          <div class="card medium">

            <div class="card-image">
              <img class="activator" src="<%=product.images[0]%>" >

            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"><%=product.name%><i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><%=product.name%><i class="material-icons right">close</i></span>
              <p><%=product.description%></p>
            </div>
            <div class="card-action">
              <a href="/products/<%=product.id%>">more info </a>
            </div>
          </div>
        </div>
        <%end%>
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
        </div>
      </div>
    </div>
    <div class="parallax"><%=image_tag("coffeepic4.jpg", alt: "Unsplashed background img 2")%></div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Fresh beans in your mailbox!</h4>
          <h5 class="center">Fresh Back of the Yards, every month, delivered right to your doorstep. You don't have to do a thing!</h5> 
          <h5 class="center">Never run out of coffee again. Starting at $__ per shipment.</h5>
        </div>
      </div>
    
      <div class = "row" >
        <%@subscriptions.each do |subscription|%>
        <div class ="col s12 m3 offset-m2">
          <div class="card medium">
            <div class= "card-image">
              <p class="center"> <%=image_tag("coffeesubscription.png", alt: "Unsplashed background img 3")%></p>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"><%=subscription.name%><i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-action">
              <a href="/products/subscription">Subscribe Now</a>
            </div>
          </div>
        </div>

        <%end%>
      </div>
    </div>
  </div>




  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
        </div>
      </div>
    </div>
    <div class="parallax"><%=image_tag("chicagoriver.jpg", alt: "Unsplashed background img 2")%></div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Bridging communities by cultivating social and economic development through coffee.</h4>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Hire locally</h5>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Help fund current initiatives that are working to yield high social and economic returns</h5>
            <p class="light"></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Provide new taxable revenue into the local economy</h5>
            <p class="light"></p>
          </div>
        </div>
      </div>
      <p class="light"></p>
    </div>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h5 class="center">For every 12oz bag of coffee you purchase, one dollar is invested into the Social Impact Fund that benefits local initiatives with high social returns in Chicago's Back of the Yards neighborhood.</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%=image_tag("coffeepic1.jpg", alt: "Unsplashed background img 2")%></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <h5 class="left-align">Better yet, see us in person!</h5>
          <p class="left-align light">We love our customers, so feel free to visit during normal business hours.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%=image_tag("coffeepic3.jpg", alt: "Unsplashed background img 3")%></div>
  </div>