<body class="botysbackground">
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
<!--         <div><%=image_tag("Logo-Blue-Transparent.png", alt: "Unsplashed background img 1")%></div> -->
      <h1 class="header center text-lighten-2 title"><span class="caps">B</span>ACK OF THE <span class="caps">Y</span>ARDS
        <br>
        <span class="lobster-font">Coffee Co.</span></h1>
        <div class="row center">
          <h5 class="header col s12 light">resilient and robust</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%=image_tag("coffeepic2.jpg", alt: "Unsplashed background img 1")%></div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 left">
<!--           <h3><i class="mdi-content-send brown-text"></i></h3> -->
          <h2 class="lobster-font-gray">Featured Products</h2>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->

      <div class = "row">

        <%@products.each do |product|%>
        <div class ="col s12 m4">
          <div class="card medium">

            <div class="card-image">
              <img class="activator" src="<%=product.images[0]%>" >
            </div>

            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"><%=product.name%></span>
            </div>

            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><%=product.name%>
                <i class="material-icons right">close</i></span>
              <p><%=product.description%></p>
              <p>Starting at <%=number_to_currency(product.skus.data[1].price.to_f / 100)%></p>
              <a href="/products/<%= product.id %>" button class="btn waves-effect waves-light botyred " type="submit" name="action" text-align="center">Go to product</a>
            </div>
          </div>
        </div>
        <%end%>
      </div>
    </div>
  </div>

<!--   <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
        </div>
      </div>
    </div>
    <div class="parallax"><%=image_tag("coffeepic4.jpg", alt: "Unsplashed background img 2")%></div>
  </div> -->

<!--   <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 left">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h2 class="lobster-font-gray">Coffee Club</h2>
        </div><br>
        <div class="col s12 left">
          <h5 class="left-align">Fresh beans in your mailbox! </h5>
          <h5 class="left-aligh">Back of the Yards Coffee delivered right to your doorstep.</h5>
          <h5 class ="left-align">Never run out of coffee again.</h5>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4 offset-m5">
          <a href="/subscriptions" button class="btn waves-effect  waves-red " type="submit" name="action">Subscribe!
          <i class="material-icons right">send</i></button></a>
        </div>
      </div>
    </div>
  </div> -->

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
        </div>
      </div>
    </div>
    <div class="parallax"><%=image_tag("nina-strehl-140734.jpg", alt: "Unsplashed background img 2")%></div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 left">
<!--           <h3><i class="mdi-content-send brown-text"></i></h3> -->
          <h2 class="lobster-font-gray center">Social Impact</h2>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center gray"><i class="material-icons">nature_people</i></h2>
            <h5 class="center">promote sustainability practices</h5>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center gray"><i class="material-icons">location_city</i></h2>
            <h5 class="center">hire locally</h5>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center gray"><i class="material-icons">attach_money</i></h2>
            <h5 class="center">taxable revenue to the local economy</h5>
          </div>
        </div>
      </div>
      <p class="light"></p>
    </div>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 left">
<!--           <h3><i class="mdi-content-send brown-text"></i></h3> -->
          <h3 class="lobster-font-gray center"> Bridging communities by cultivating social and economic development through coffee.</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%=image_tag("coffeepic3.jpg", alt: "Unsplashed background img 2")%></div>
  </div>

<!--   <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 left">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h3 class="lobster-font-gray">Contact Us</h3>
          <p>(312) 487-2233</p>
          <h5 class="left-align lobster-font-gray">Better yet, see us in person!</h5>
          <p>2059 W. 47th St, Chicago, IL 60609</p>
          <h5 class="left-align lobster-font-gray">We love our customers, so feel free to visit during normal business hours.</h5>
          <p>Monday - Friday: 6:30am - 7pm</p>
          <p>Saturday - Sunday: 9am - 3pm</p>
        </div>
      </div>

    </div>
  </div> -->


<!--   <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><%=image_tag("coffeepic3.jpg", alt: "Unsplashed background img 3")%></div>
  </div> -->
  </body>