<body id="botysbackground" class="carted_products index">

      <div class="container">

    <h3 class="center lobster-font gray"> Shopping Cart </h3>
    <div class="row">
        <div class="col s5">
          <!-- Form for Address -->
          <div class="Checkout">
            <h5 class="LobsterCenter">Shipping Information</h5>
            <%= form_for(@customer, url: orders_create_path) do |f|%>
                <%= f.label :first_name %>
                <%= f.text_field :first_name %>
                <%= f.label :last_name %>
                <%= f.text_field :last_name %>
                <%= f.label :address  %>
                <%= f.text_field :address %>
                <%= f.label :Address2  %>
                <%= f.text_field :Address2 %>
                <%= f.label :city %>
                <%= f.text_field :city %>
                <%= f.label :state %>
                <%= f.text_field :state %>
                <%= f.label :zip_code  %>
                <%= f.text_field :zip_code %>
                <input type="submit" value="Save Address" class="waves-effect btn addsAjax" />
            <% end %>
          </div>
        </div>
        <div class="col s1"></div>
        <div class="col s6">
          <div class="Checkout">
            <div class="OrderSummary">
              <h5 class="LobsterCenter">Order Summary</h5>
              <table>
                <%if @carted_products.length > 0 %>
                <h5 class="LobsterCenter ultraGrey"> Products </h5>
                <%end%>
                <% @carted_products.each do |product| %>
                  <tr>
                    <div class = "col s12 productView">
                      <div class= "col s8">
                    <%= product.name %>
                  </div>
                    <div class="col s2 quantity">
                      <input id="id<%=product.id%>" class="productEdit" type="number" min="1" max="100" step="1"  value= "<%=product.quantity%>">
                      </div>
                      <div class = "col s2">
                        <a id="id<%=product.id%>" class = "btn-floating btn-tiny waves-effect waves-light black deleteProducts"><i class="material-icons">delete</i></a>
                      </div>
                  </div>
                  </tr>
                <% end %>

                <% if @carted_subscriptions.length > 0 %>
                <h5 class="LobsterCenter ultraGrey"> Subscriptions </h5>
                <% end %>
                <% @carted_subscriptions.each do |subscription| %>
                  <tr>
                    <div class="col s12 subscriptionView">
                      <div class= "col s8">
                    <%= subscription.plan_name %>
                  </div>
                    <div class="col s2 quantity">
                      <input id="id<%=subscription.id%>" class="subscriptionEdit" type="number" min="1" max="100" step="1"  value= "<%=subscription.quantity%>">
                      </div>
                      <div class = "col s2">
                        <a id="id<%=subscription.id%>" class = "btn-floating btn-tiny waves-effect waves-light black deleteSubscriptions"><i class="material-icons">delete</i></a>
                      </div>
                  </div>
                  </tr>
                <% end %>

              </table>
            </div>
            <div class="Toggle">
              <div>
                <input type="radio" value="on" name="shipping">
                <label for="shipping">Shipping: Foobar</label>
              </div>
              <div>
                <input type="radio" value="on" name="pickup">
                <label for="pickup">Pick Up</label>
              </div>
            </div>
            <div class="center">
              <div class="totalFoSho">

              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</body>
