<h1> Your Cart </h1>

<%= react_component('CartedProducts', carted_products: @carted_products) %>


<!-- <table class="table">
  <tr>
    <td> ID </td>
    <td> PRODUCT ID </td>
    <td> PRODUCT NAME </td>
    <td> UNIT PRICE </td>
    <td> QUANTITY </td>
    <td> SKU </td>
    <td> TOTAL PRICE </td>
  </tr>
  <% @carted_products.each_with_index do |carted_product, index| %>
    <tr>
      <td><%= carted_product.id %></td>
      <td><%= carted_product.product_id %></td>
      <td><%= carted_product.product_name %></td>
      <td><%= number_to_currency(carted_product.price * 0.01) %></td>
      <td><%= carted_product.quantity %></td>
      <td><%= carted_product.sku %></td>
      <td><%= number_to_currency(carted_product.total_price * 0.01) %></td>
    </tr>
  <% end %>
</table>
<div class="row">
  <div class="col s6"></div>
  <div class="col s6 right-align">
    <h4> Total Sale: <%= number_to_currency(@carted_products.sum(&:total_price) * 0.01) %> </h4>
    <%= form_tag charges_path do %>
      <article>
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
      </article>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Back of the Yards Coffee"
              data-email="<%= current_customer.email if customer_signed_in? %>"
              data-amount="<%= @carted_products.sum(&:total_price) %>"
              data-locale="auto"
              data-label="Buy Now"
              data-shipping-address="true"></script>
    <% end %>
  </div>
</div> -->
