<%= form_tag "/cart", method: :post do%>
  <% if @plans %>
    <div class="section" style="height:100px;">
      <div class="row">
        <div class="input-field plan_select" id="plan_id">
          <%= select_tag :plan ,options_for_select(@plans)%>
          <label>Plan</label>
        </div>
      </div>
    </div>
  <% end %>

  <% if @product.attributes.length == 0 %>
    <%= hidden_field_tag :sku, @skus.first[1] %>
  <% else %>
    <div class="section" style="height:100px;">
      <div class="row">
        <div class="input-field plan_select" id="plan_id">
          <%= select_tag :sku ,options_for_select(@skus)%>
          <label><%= @product.attributes.first.titleize %></label>
        </div>
      </div>
    </div>
  <% end %>

  <div class="section" style="height:100px;">
    <div class="row">
      <div class="input-field">
        <%= select_tag :quantity, options_for_select((1..10).to_a) %>
        <label>Quantity</label>
      </div>
    </div>
  </div>
  <%= hidden_field_tag :product_id, @product.id %>
  <%= hidden_field_tag :name, @product.name %>
  <button class="btn waves-effect waves-light" type="submit" name="submit">Add to Cart</button>
  <br>
  <br>
<% end %>
