<div class="container padding-top">         
  <div class="row">
    <%@products.each do |product|%>
      <div class ="col s12 m4">
        <div class="card medium">

          <div class="card-image">
            <img class="activator" src="<%=product.images[0]%>" >
          </div>

          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%=product.name%>
              <i class="material-icons right">more_vert</i>
            </span>
          </div>

          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%=product.name%>
              <i class="material-icons right">close</i>
            </span>
            <p><%=product.description%></p>
          </div>

          <div class="card-action">
            <a href="#">buy now</a>
            <a href="/products/<%= product.id %>">More Info</a>
          </div>

        </div>
      </div>              
    <%end%>
  </div>            
</div>