<div class="container padding-top">
  <h1>
    <span class="lobster-font">Products</span>
  </h1>
  <div class="row">
    <%@products.each do |product|%>
      <div class="col l6 s12 m12">
        <div class="card medium">
          <div class="card-image">
            <img class="activator" img src="<%=product.images[0]%>">
          </div>

          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%=product.name%></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%=product.name%>
              <i class="material-icons right">close</i>
            </span>
            <div class="description">
              <div class="innercard">
                <% if product.description %>
                  <p> <%= product.description.truncate(150) %></p>
                <% end %>
                <p>Starting at <%= starting_price(product) %></p>
                <div class="section">
                  <div class="row">
                    <div class="col s6">
                      <a href="/products/<%= product.id %>" class="btn-large btn-floating waves-effect waves-light botyred tooltipped" type="submit" name="action" data-delay="5" data-tooltip="More info"><i class="material-icons large">info_outline</i></a>
                    </div>
                    <% if customer_signed_in? %>
                      <div class="col s6">
                        <a href="#" id="id<%=product.id%>" class="add btn-large
                          btn-floating waves-effect waves-light botyred tooltipped" data-delay="5" data-tooltip="Add to cart"><i class="material-icons md-24">add_shopping_cart</i></a>
                      </div>
                    <% elsif %>
                      <div class="col s6">
                        <a href="#modal2" class="btn-large
                          btn-floating waves-effect waves-light tooltipped modal-trigger" data-delay="5" data-tooltip="Add to cart"><i class="material-icons md-24">add_shopping_cart</i></a>
                      </div>
                    <% else %>
                      <div class="col s6">
                        <a href="#modal1" class="btn-large
                          btn-floating waves-effect waves-light tooltipped modal-trigger" data-delay="5" data-tooltip="Add to cart"><i class="material-icons md-24">add_shopping_cart</i></a>
                      </div>
                    <%end%>
                  </div>
                </div>
              </div>
            </div>
            <div class="product_form"></div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
  <%= render "customers/shared/modal_for_sign_in.html.erb" %>
  <%= render "modal_for_employee" %>
</div>
