
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
    <br><br>
      <h1 class="header center text-lighten-2 title"><span class="garamond-font"><%= @product.name %></span></h1>
    </div>
  </div>
  <div class="parallax"><img class="activator" src="<%= @product.images[1]%>"></div>
</div>


<div class="container">
  <div class="section">
    <div class="row">
      <span class="garamond-font"><%= @product.description %></span>
    </div>
  </div>
</div>
  
<%= form_tag "/cart", method: :post do%> 
  <div class="container">
    <div class="section">
      <div calss="row">
        <div class="input-field">
          <div class="col s4">
            <select>
              <%= @product.skus.data.each do |data| %>
                <option value="<%= data.id %>"><%= data.id %></option>
              <% end %> 
            </select>
            <label>Bean Style</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section">
      <div calss="row">
        <div class="input-field">
          <div class="col s4">
            <select>
              <% StripeTool.product_quantity(@product).times do |n| %>   <!-- uses stripe_tool.rb concern --> 
                <option value=<%= n %>><%= n %></option>
              <% end %>
            </select>
            <label>Quantity</label>
          </div>
        </div>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="submit">Submit</button>
  </div>
<% end %> 

<script>  
$(document).ready(function() {
  $('select').material_select();
});material_select
</script>