<%#= react_component('ProductMessage', name: @product.name ) %>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
    <br><br>
      <h1 class="header center text-lighten-2 title"><span class="garamond-font"><%= @product.name %></span></h1>
    </div>
  </div>
  <div class="parallax"><img class="activator" src="<%= @product.images[1]%>"></div>
</div>


<div class="container">
  <div class="section">
    <div class="row">
      <span class="garamond-font"><%= @product.description %></span>
    </div>
  </div>
</div>

<%= form_tag "/cart", method: :post do%> 
  <div class="container">
    <div class="section">
      <div calss="row">
        <div class="input-field">
          <div class="col s4">
            <%= select_tag :sku, options_for_select(@product.skus.data.collect{|x| [x.attributes.bean_style, x.id]}), prompt: " - Select Bean Style - " %>
            <label>Bean Style</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section">
      <div calss="row">
        <div class="input-field">
          <div class="col s4">
            <%= select_tag :quantity, options_for_select((1..StripeTool.product_quantity(@product)).to_a), prompt: " - Select Quantity - " %>
            <label>Quantity</label>
          </div>
        </div>
      </div>
    </div>
    <%if customer_signed_in?%>
    <button class="btn waves-effect waves-light" type="submit" name="submit">Add to Cart</button>
    <%else%>
      <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add to Cart</a>
    <%end%>
  </div>
  <%= hidden_field_tag :product_id, @product.id %>
<% end %> 
<br>
<br>
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">

  <ul id="tabs" class="tabs big">
    <li class="tab col s6"><a class="active" href="#tab1">Sign in</a></li>
    <li class="tab col s6"><a href="#tab2">Sign up</a></li>
   
  </ul>
  <br>
  <div id="tab1">
  <h4> Sign In</h4>
  <%= form_for(:customer, :url => session_path(:customer)) do |f| %>
        <%= f.text_field :email, placeholder: 'Email' %>
        <%= f.password_field :password, placeholder: 'Password' %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
        <%= f.submit 'Sign in' %>
        <%= link_to "Forgot your password?", new_password_path(:customer)%>
      <% end %>
  </div>

  <div id="tab2" >
  <h4> Sign Up</h4>
  <%= form_for(:customer, :url => registration_path(:customer)) do |f| %>
        <%= f.text_field :email, placeholder: 'Email'  %>
        <%= f.password_field :password, placeholder: 'Password'  %>
        <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation'  %>
        <%= f.submit 'Sign up' %>
      <% end %>

</div>
    </div>
  </div>
         


<script>  
  $(document).ready(function() {
    $('select').material_select();
  });
    $(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });


</script>