<%#= react_component('ProductMessage', name: @product.name ) %>

<%= render "customers/shared/modal_for_sign_in.html.erb" %>
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center text-lighten-2 title">
        <span class="lobster-font-center"><%= @product.name %></span>
      </h1>
    </div>
  </div>
  <div class="parallax"><img class="activator" src="<%= @product.images[1]%>"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <span class="garamond-font"><%= @product.description %></span>
    </div>
  </div>
</div>

<div style="width: 100%;">
  <div style="float:left; width: 50%">
    <div id="one-time-buy" class="col s12">
      <div class="container">
        <div class="row">
          <h3 class="lobster-font gray">Options for purchase</h3>
        </div>

        <%= form_tag "/cart", method: :post do%>

        <div class="section" style="height:100px;">
          <div class="row">
            <div class="input-field">
              <%= select_tag :plan_id, options_for_select(@product_plan_options), prompt: " - Select Plan - ",id:'plan_id' %>
              <label>Plan</label>
            </div>
          </div>
        </div>

        <div id="sku_form" class="section" style="height:100px;">
          <div class="row">
            <div class="input-field">
              <%= select_tag :sku, options_for_select(@product.skus.data.collect{|x| [x.attributes.bean_style, x.id]}), prompt: " - Select Bean Style - " %>
              <label>Bean Style</label>
            </div>
          </div>
        </div>

        <div id="subscription_form" class="section" style="height:100px;display:none">
          <div class="row">
            <div class="input-field">
              <%= select_tag :grind, options_for_select(["Ground", "Whole"]), prompt: " - Select Bean Style - " %>
              <label>Bean Style</label>
            </div>
          </div>
        </div>

        <div class="section" style="height:100px;">
          <div class="row">
            <div class="input-field">
              <%= select_tag :quantity, options_for_select((1..StripeTool.product_quantity(@product)).to_a), prompt: " - Select Quantity - " %>
              <label>Quantity</label>
            </div>
          </div>
        </div>
        <%= hidden_field_tag :product_id, @product.id %>
        <%= hidden_field_tag :price, @product.skus.data.first.price %>
        <%= hidden_field_tag :name, @product.name %>

        <%if customer_signed_in? %>
        <button class="btn waves-effect waves-light" type="submit" name="submit">Add to Cart</button>
        <%else%>
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add to Cart</a>
        <%end%>

        <br>
        <br>
        <% end %>

      </div>
    </div>
  </div>

</div>

<div style="clear:both"></div>

<script>

  $(document).ready(function () {
    $('select').material_select();
  });
</script>
