  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><%=image_tag("logo_beige_transparent.png", id:"nav-bar-logo", size: "219x65", alt: "logo")%></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i id="menu-btn" class="material-icons">menu</i>
      </a>
      <!-- <a href="/cart" class="button-collapse float-right">
        <i class="fa fa-shopping-cart cart-icon"></i>
        <%# if current_customer == nil %>
        <%# else %>
          <span class="badge"><%#= current_customer.carted_products_and_subscription_quantity %></span>
        <%# end %>
      </a> -->
      <ul class="right hide-on-med-and-down">
        <li class="<%='active' if current_page?(coffee_club_url)%>">
          <a href="/coffee_club">Coffee Club</a>
        </li>
        <li class="<%='active' if current_page?(wholesalers_url)%>">
          <a href="/wholesalers">Wholesalers</a>
        </li>
        <li class="<%='active' if current_page?(products_url)%>">
          <a href="/products">Products</a>
        </li>
        <li class="<%='active' if current_page?(coffee_house_url)%>">
          <a href="/coffee_house">Menu</a>
        </li>
        <li class="<%='active' if current_page?(about_url)%>">
          <a href="/about">Who we are</a>
        </li >
        <% if current_customer || current_employee %>
          <li>
            <a class='dropdown-button' href='#' data-activates='account-dropdown'>
              <i class="material-icons">perm_identity</i>
            </a>
          </li>
        <% else %>
          <li>
            <a href="/customers/sign_in">Login</a>
          </li>
        <% end %>
        <li>
          <a href="/cart">
            <i class="fa fa-shopping-cart cart-icon"></i>
              <% if current_customer == nil %>
              <% else %>
                <span  id="cart-amount" class="badge"><%= current_customer.carted_products_and_subscription_quantity %></span>
              <% end %>
          </a>
        </li>
      </ul>
    </div>
  </nav>
<!-- Dropdown Structure -->
<ul style="margin-top:64px;min-width:160px;" id='account-dropdown' class='dropdown-content'>
  <li class="divider"></li>
  <% if current_customer %>
    <li style="text-align: center;">
      <a href="/customers/dashboard">My Account</a>
    </li>
    <li style="text-align: center;"><%= link_to "Sign Out", destroy_customer_session_path, :method => :delete %></li>
  <% elsif current_employee %>
    <li style="text-align: center;">
      <a href="/employees/dashboard">My Account</a>
    </li>
     <% if current_employee&.admin %>
      <li>
        <a style="text-align: center;" href="/customers">All Customers</a>
      </li>
    <% end %>
    <li style="text-align: center;"><%= link_to "Sign out", destroy_employee_session_path, :method => :delete %></li>
  <% end %>
</ul>

<!-- Responsive View -->
<ul id='mobile-demo' class='side-nav'>
  <li >
    <a href="/">Home</a>
  </li>
  <li class="divider"></li>
  <li >
    <a href="/coffee_club">Coffee Club</a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/wholesalers">Wholesalers</a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/products">Products</a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/coffee_house">Menu</a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/about">Who we are</a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/cart">
      <i class="fa fa-shopping-cart cart-icon"></i>
        <% if current_customer == nil %>
        <% else %>
          <span class="badge"><%= current_customer.carted_products_and_subscription_quantity %></span>
        <% end %>
    </a>
  </li>
  <li class="divider"></li>
  <% if current_customer %>
    <li style="text-align: center;">
      <a href="/customers/dashboard">My Account</a>
    </li>
    <li style="text-align: center;"><%= link_to "Sign out", destroy_customer_session_path, :method => :delete %></li>
  <% elsif current_employee %>
    <li style="text-align: center;">
      <a href="/employees/dashboard">My Account</a>
    </li>
    <li style="text-align: center;"><%= link_to "Sign out", destroy_employee_session_path, :method => :delete %></li>
  <%else%>
    <li>
      <a href="/customers/sign_in">Login</a>
    </li>
  <% end %>
</ul>
