<!DOCTYPE html>
<html>
  <head>
    <title>BackYardsCoffeeApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Lobster" rel="stylesheet">
  </head>

  <body>
    <nav>
      <div class="nav-wrapper black">
        <a href="#" class="brand-logo"><img src="/assets/logo_beige_transparent.png" style="width:219px;height:65px;"></a>
        <ul id="nav-mobile black" class="right hide-on-med-and-down">
          <% if current_customer %>
            <li><%= link_to "Sign out", destroy_customer_session_path, :method => :delete %></li>
          <% else %>
            <li><a class=<%= request.url.include?('sign_in') ? 'disabled' : 'active' %> href="/customers/sign_in">Login</a></li>
          <% end %>
          <li><a href="/about">Who we are</a></li>
          <li><a href="/coffee_club">Coffee Club</a></li>
          <li><a href="/coffee_house">Coffee House</a></li>
          <li><a href="#"><i class="material-icons">shopping_cart</i></a></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
    <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Back of the Yards Coffee Co.</h5>
          <p class="grey-text text-lighten-4">Back of the Yards Coffee Co. is a specialty coffee roaster located in Chicago's Back of the Yards community that not only produces great tasting coffee, but that also makes a direct social and economic impact in the community. We've established direct relationships with coffee growers in Chiapas, Mexico which allows for coffee growers to keep more revenue while allowing us to offer high quality specialty coffee in our neighborhood.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect with Us</h5>
          <ul>
            <li><a class="white-text social-media-logo" href="https://www.facebook.com/BackoftheYardsCoffee/"><%=image_tag("facebook.png", alt: "facebook logo")%></a></li>
            <li><a class="white-text social-media-logo" href="https://twitter.com/theyards_coffee"><%=image_tag("twitter.png", alt: "twitter logo")%></a></li>
            <li><a class="white-text social-media-logo" href="https://www.instagram.com/backoftheyardscoffeeco/"><%=image_tag("instagram.png", alt: "instagram logo")%></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Copyright <a class="brown-text text-lighten-3" href="https://twitter.com/theyards_coffee?lang=en">@BackoftheYardsCoffeeCo. All rights reserved.</a> 
      <br>
      312.487.CAFE
      <br>
      Support our Coffeehouse
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/assets/materialize.js"></script>
  <script src="/assets/init.js"></script>
  </body>
</html>
