<!DOCTYPE html>
<html>
  <head>
    <title>BackYardsCoffeeApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/93160d36b8.css">
  </head>

  <body>
    <%= render "layouts/navbar" %> 
    <%= render "layouts/alerts" %> 
    <%= yield %>
    <%= render "layouts/footer" %> 
  </body>
</html>
