<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <ul id="tabs" class="tabs big">
      <li class="tab col s6"><a class="active" href="#tab1">Sign in</a></li>
      <li class="tab col s6"><a href="#tab2">Sign up</a></li>
    </ul>
    <br/>
    <div id="tab1">
      <h4> Sign In</h4>
      <%= form_for(:customer, :url => session_path(:customer)) do |f| %>
        <%= f.text_field :email, placeholder: 'Email' %>
        <%= f.password_field :password, placeholder: 'Password' %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
        <%= f.hidden_field :redirect, value: "cart" %>
        <br/>
        <%= f.submit 'Sign in', :class => "btn" %>
        <br/>
        <%= link_to "Forgot your password?", new_password_path(:customer)%>
      <% end %>
    </div>
    <div id="tab2" >
      <h4> Sign Up</h4>
        <%= form_for(:customer, :url => registration_path(:customer)) do |f| %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.text_field :email,autofocus: true, placeholder: 'Email' %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, placeholder: 'Password' %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off",placeholder: 'Password Confirmation' %>
        </div>

        <div class="field">
          <%= f.label :address %><br />
          <%= f.text_field :address, autofocus: true,placeholder: 'Address' %>
        </div>

        <div class="field">
          <%= f.label :Address_2 %><br />
          <%= f.text_field :Address2, autofocus: true,placeholder: 'Address 2' %>
        </div>

        <div class="field">
          <%= f.label :city %><br />
          <%= f.text_field :city, autofocus: true,placeholder: 'City' %>
        </div>

        <div class="field">
          <%= f.label :state %><br />
          <%= f.select :state, options_for_select(us_states,selected:['Illinois', 'IL']) %>
        </div>

        <div class="field">
          <%= f.label :zip_code %><br />
          <%= f.text_field :zip_code, autofocus: true,placeholder: 'Zip Code' %>
        </div>

        <%= f.hidden_field :redirect, value: "cart" %>
        <%= f.submit 'Sign up', :class => "btn" %>
      <% end %>
    </div>
    <br/>
  </div>
</div>
